# INTRODUCTION

## What is Programming?

Programming is simply the act of instructing the computer on what task to perform. Therefore, a computer program is a set of instructions that tell the computer hardware what to do. Software is a collection of computer program.

### What is Python?

Python is a general purpose, high level programming language that was developed by Guido van Rossum in the late 1980s. Like all high level programming languages, Python code resembles the
	English language which computers are unable to understand. For the computer to understand the codes, it has to be interpreted by a special piece of software known as interpreter which must be installed before we can code, 		text and execute our python programs.

### Why learn Python?

There are many high level programming languages available, such as Java, C++ etc. The good news is all high level programming languages are very similar to one another. What differs is mainly the syntax, the libraries 	available and the way we access those libraries. A library is simply a collection of resources and pre-written codes that we can use when we write our programs. Python is a very good place to start for beginners 		because of its simplicity.

### What can you do with Python?

Python can be used for
1. Web develpoment
2. Data science/machine learning
3. Mobile app development
4. Game development
5. Hardware and robotics etc..

## Setting up our coding environment

There are many Integrated Development Environment available for Python but we'll be using the Anaconda package for this tutorial

## Python Syntax

As applied to human languages, syntax in programming language, is the set of rules, principles, and processes that govern the structure of a programme (i.e a set of instruction). Python syntax can be executed by writing directly in our notebook (or interpreter).

### Writing your first program

In [2]:
print('Hello world')
print("Hello universe")

Hello world
Hello universe

In [3]:
print('Pyhon is awesome')

Pyhon is awesome

Print is a command (built in function) asking the interpreter to dispaly 'Hello World'. In essence, we have given the computer an instruction to dispaly hello word on the screen.

In [8]:
print(2 + 2)

4

In [5]:
2/8

0.25

Here, we areasking the interpreter to evaluate the value of 2 + 2

In [8]:
5/3

1.6666666666666667

In [9]:
9//4

2

## Python variables

Variables are names (i.e containers) given to data that we need to store and manipulate in our programs. For instance, suppose your program needs to store the name of a given user. To do that, we can name this data UserName and define 	the variable UserName using the following statement below;

In [3]:
UserName = 'Ibraheem'

Whenever a variable is declared, the program allocates some area of the computer's storage to it, the variable can later be accessed and manipulated. we can as well declare many variables at a go. E.g

In [4]:
UserName1 = 'Ibraheem'
UserAge = 30
print(UserName1)
print(UserAge)
print(f"username is {UserName1} and the user is {UserAge} years old")

Ibraheem
30
username is Ibraheem and the user is 30 years old

### Naming a Variable

A variable name in Python can only contain letters (a - z, A - B), numbers or underscores (_). However, the first character cannot be a number. Hence, you can name your variables userName, user_name 	or 		userName2 but not 2userName. In addition, there are some reserved words that you cannot use as a variable name because they already have preassigned meanings in Python. These reserved words include words like 	print, input, if, while etc. Finally, variable names are case sensitive. username is not the same as userName.
Hint: variable should be descriptive of the value they hold

In [5]:
2user_name = 'Basit'

SyntaxError: invalid syntax (<ipython-input-5-caed06a8a912>, line 1)

### Expressions, Operators and Precedence in Python

#### Arithmetic Operators
1. Multiplication *
2. Addition	      +
3. Subtraction    -
4. Division	      /
5. Modulus        %
6. Exponent       **
7. Assigments     =

We also have other types of operators such as logical operators, comparison operators, bitwise operators etc..

#### Precedence
Programming languages follow a strict rule on how compound expressions, such as 4 + 5 * 3, are evaluated. The order in which expressions are evaluated is as follow;
Multiplication --> Division --> Addition --> Subtraction

In [117]:
4 + 5 * 3

19

5 multiply by 3 is evaluated first and the result is added to 4

In [118]:
(4 + 5) * 3

27

In [8]:
((4 + 5) * 3) / 3

9.0

In [6]:
4 + 5 * 3 /3

9.0

### Using Variables

In [7]:
#Let's calculate the area of a rectangle, given it's legth and breadth
#first we declare the variables
Length = 5
Breadth = 4
Area = Length * Breadth
print(Area)

20

Challenge 1: calculate the perimeter

In [8]:
Perimeter = 2 * (Length + Breadth)
print(Perimeter)

18

In [10]:
#Let's calculate the area of circle given it's radius
#first we declare our variables
radius = 5
pi = 3.142
Area = (2 * pi * radius**2)
print(Area)

157.1

Challenge 2: calculate the perimeter

In [11]:
# A more elegant way to do this is to use the math module
import math
Area = 2 * math.pi * math.pow(radius,2)
print(f"The area of the circle is {Area:.2f}")

The area of the circle is 157.08

# Data types
There are basically five standard types in python

## 1. Numeric data type
Numeric data types as the name implies can be of two types namely integer and floating point numbers
1. int: contains no decimal point e.g 2,5, -4, 0 etc.

In [11]:
Weight = -58
Height = 79
print(type(Weight))
print(type(Height))
print(type(Weight))

<class 'int'>
<class 'int'>
<class 'int'>

2.float: real numbers with decima point e.g -0.01, 12.5, 3.6 etc...

In [11]:
Weight = 58.2
Height = 79.3
print(type(Weight))
print(type(Height))

<class 'float'>
<class 'float'>

## 2. Textual data type (strings)
* String is used to store and process textual data. 
* String value must be framed with eithe a single quote(e.g 'text'), or double quotes(e.g "text") or triple quotes(e.g '''text''' or """text""").
* **Note: you must start and end with a type of quotation mark when using triple quote. you cant start with """ and end with '''**

In [13]:
message = 'hello universe! python is awesome'
message_two = "python programming is superb"
message_three = "Laika's dog"
print(message)
print(type(message))
print(message_two)

hello universe! python is awesome
<class 'str'>
python programming is superb

In [14]:
message1 = "This is Laika's dog"
print(message1)

This is Laika's dog

### String manipulation
String can be manipulated using a number of in built functions. Function is simply a block of reusable codes that perform a certain task. We'll come back to it later.

#### Cases I

In [15]:
message.capitalize() #capitalizes the first character of the string

'Hello universe! python is awesome'

In [123]:
message.title() #capitalizes ever character of the string
message_two.title()

'Python Programming Is Superb'

In [18]:
message.lower() #Every charater of the srting is turned to lower case

'hello universe! python is awesome'

In [20]:
print(message.upper()) #the string is turned to upper case
print(message_three.upper())

HELLO UNIVERSE! PYTHON IS AWESOME
LAIKA'S DOG

In [18]:
message.swapcase() #the beginning of distinct sentence is swapped

'HELLO UNIVERSE! PYTHON IS AWESOME'

#### Sequence Operations

In [29]:
print(message)
print(max(message))
#returns largest character...remeber the position of why in English alphabet
print(message1)
print(max(message1))

hello universe! Python is awesome
y
This is Laika's dog
s

In [125]:
min(message)#returns the smallest character

' '

In [23]:
len(message) #returns the length of the string

33

In [127]:
#concatenating
string1 = 'good'
string2 = 'evening'
final_string = string1 + string2
final_string

'goodevening'

In [128]:
final_string = string1 + ' '+ string2
print(final_string)

good evening

In [35]:
#multiplying strings
print(final_string * 2)
print(final_string * 3)

good eveninggood evening
good eveninggood eveninggood evening

In [36]:

print(final_string.count('e')) #counts the number of occurence of e
print(final_string.count('v'))

2
1

#### Find/Replace

In [19]:
message = message.replace('universe', 'world') #replaces a character in the string
message

'hello world! python is awesome'

#### Splitting

In [21]:
message.split(' ')

['hello', 'world!', 'python', 'is', 'awesome']

In [30]:
message.splitlines()

['Hello world! Python is awesome']

#### Indexing

In [130]:
message[0] #get the charcter at the first index

'h'

In [133]:
message[4]

'o'

In [134]:
message[5]

' '

In [136]:
message[10]

'e'

In [32]:
message[2:8] #get the character fro index 2 to 7

'llo wo'

In [138]:
message[2:8:3] #get the character from index 2 to 9 with step of 2

'l '

### String Formatting
This is just way we display information on the console. I'll show you different ways this can be achieved

In [34]:
#Let's declare some variables and have them printed nicely
UserName = 'Abdullah'
UserAge = 12

#### The old ways of formatting string

##### using %s and %d where %stands for string and %d stands for digits

In [35]:
print("The name of the user is %s and the user is %d old." %(UserName, UserAge))

The name of the user is Abdullah and the user is 12 old.

##### using .format()

In [36]:
print("The name of the user is {} and the user is {} old".format(UserName, UserAge))

The name of the user is Abdullah and the user is 12 old

In [37]:
print("The name of the user is {a} and the user is {b} old".format(a= UserName, b = UserAge))

The name of the user is Abdullah and the user is 12 old

#### The new way of formatting using f string

In [38]:
print(f"The name of the user is {UserName} and the user is {UserAge} old")

The name of the user is Abdullah and the user is 12 old

In [39]:
#Read on and practice on type casting

### Type casting

it is the process of converting from one data type to another. This can be achieved using the following inbuilt functions
int(), float() and str(). The int() function takes in a float or appropriate string and converts it to int.

In [4]:
int(5.5545)
print(int(5.73546))  #will return only 5 because anything after the decimal is removed
print(type(int(5.73546)))

5
<class 'int'>

In [5]:
print(int("4"))
print(type(int("4")))

4
<class 'int'>

However, we can not type int("Hello") as we will run itno error.

In [6]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

We can convert int to float by doing this e.g

In [8]:
print(float(2))
print(type(float(2)))

2.0
<class 'float'>

In [9]:
print(str(2))
print(type(str(2)))

2
<class 'str'>

## 3. Python Lists
List refers to a collection of data that are normally related. Instead of storing these variables seperately, we create a list of the data and members are entered within square bracket. Let's say we have a group of dog that we want to deal with in our program, one way to do this is to decare every drog as a varaible and store it E.g

In [40]:
dog_breed1 = 'Akita'
dog_breed2 = 'Beagle'
dog_breed3 = 'Rettieler'
dog_breed4 = 'Chiauha'
dog_breed5 = 'Lowchen'
print(f"{dog_breed1}, {dog_breed2}, {dog_breed3}, {dog_breed4}, {dog_breed5}")

Akita, Beagle, Rettieler, Chiauha, Lowchen

In [141]:
#A more elegant and efficient way of doing this is to just use a list
dog_breed = ['Akita','Beagle', 'Rettieler' ,'Chiauha', 'Lowchen']
print(dog_breed)

['Akita', 'Beagle', 'Rettieler', 'Chiauha', 'Lowchen']

We can also declare a list without assigning any initial values to it.

In [42]:
users = []

What we have now is an empty list with no items in it. We have to use the append() method mentioned below to add items to the list.
* **Note: modifying the list: lists are mutable, the members can be accessed using the index number with the format: list_name[index no] Individual values in the list are accessible by their indexes, and indexes always start from ZERO (0), not 1**

### Accessing Values in List: indexing and Slicing

In [142]:
print(dog_breed[2])

Rettieler

In [143]:
dog_breed[2] = 'Laika' #changes the value in index 2 i.e susbstitute 
dog_breed

['Akita', 'Beagle', 'Laika', 'Chiauha', 'Lowchen']

In [144]:
print(dog_breed[0])

Akita

In [145]:
print(dog_breed[1:3])

['Beagle', 'Laika']

In [146]:
print(dog_breed[4])

Lowchen

In [147]:
print(dog_breed[-1])

Lowchen

In [148]:
print(dog_breed[:2])

['Akita', 'Beagle']

In [50]:
print(dog_breed[2:])

['Laika', 'Chiauha', 'Lowchen']

### List Manipulation
#### 1. Adding Element to the list

In [51]:
dog_breed.append('Lebrador')#adds a new element to the end of the list
print(dog_breed)

['Akita', 'Beagle', 'Laika', 'Chiauha', 'Lowchen', 'Lebrador']

In [52]:
dog_breed.insert(3, 'Pulldog') #inserts element in a specified position
dog_breed.insert(4, 'Great Dane')
print(dog_breed)

['Akita', 'Beagle', 'Laika', 'Pulldog', 'Great Dane', 'Chiauha', 'Lowchen', 'Lebrador']

In [53]:
dog_breed.extend(['Border Collie', 'Dobbermann', 'Irish setter']) #used fro adding multiple elements at a time
print(dog_breed)

['Akita', 'Beagle', 'Laika', 'Pulldog', 'Great Dane', 'Chiauha', 'Lowchen', 'Lebrador', 'Border Collie', 'Dobbermann', 'Irish setter']

####  2. Removing element from the list

In [54]:
dog_breed.remove('Dobbermann') #removes a specified element from the list
print(dog_breed)

['Akita', 'Beagle', 'Laika', 'Pulldog', 'Great Dane', 'Chiauha', 'Lowchen', 'Lebrador', 'Border Collie', 'Irish setter']

In [55]:
dog_breed.pop(2)  #removes element from the list at the specified location
print(dog_breed)

['Akita', 'Beagle', 'Pulldog', 'Great Dane', 'Chiauha', 'Lowchen', 'Lebrador', 'Border Collie', 'Irish setter']

#### 3. other methods

In [56]:
dog_breed.reverse() #reverses the list
dog_breed

['Irish setter',
 'Border Collie',
 'Lebrador',
 'Lowchen',
 'Chiauha',
 'Great Dane',
 'Pulldog',
 'Beagle',
 'Akita']

In [154]:
dog_breed.sort(reverse=True) #sorts the elements of the list in ascending order
dog_breed

['Lowchen', 'Laika', 'Chiauha', 'Beagle', 'Akita']

In [58]:
print(len(dog_breed)) #get the length of the list

9

In [59]:
print(f"The dog breed list has {len(dog_breed)} members")

The dog breed list has 9 members

In [60]:
print(max(dog_breed)) #gets the largest member of the list; P oocupies the higest position here

Pulldog

In [61]:
print(min(dog_breed)) #the lowest member interms of English alphabet

Akita

In [65]:
Akita_index = dog_breed.index('Akita')   #gives the location of an element
print(f"Akita is located at index {Akita_index}")

Akita is located at index 8

**"You might have noticed that methods like insert, remove or sort that only modify the list have no return value printed – they return the default None. 1 This is a design principle for all mutable data structures in Python."**

## 4. Tuples
This is another data type like a list but with slight difference. Tuple is immutable (data can't be modified) and it is declared using parethesis i.e ()

In [66]:
users = ('Ada', 'Turing', 'Andrew', 'Robert', 'Good Fellow', 'Prince')

In [67]:
users[1]

'Turing'

In [68]:
users[-1]

'Prince'

In [69]:
users[1:4]

('Turing', 'Andrew', 'Robert')

In [72]:
users[-4:-2]

('Andrew', 'Robert')

In [73]:
#Let's try to modify
users[1] = 'LoveLace'

TypeError: 'tuple' object does not support item assignment

### Why use a tuple instead of a list?
* Program execution is faster
* In case we don't want our data to be modified i.e we want them to remain constant throughout the program

##  5. Dictionary
Python dictionary is a collection of data pair, a dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated values. Examples where a dictionary data type is very useful includes:
1. Storing every country of the world and their capital
2. We want to store usernames and their corresponding email etc.

**A dictionary is defined by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:**

In [76]:
Countries = {'China' : "Beijing", 
           'Mali' : "Bamako", 
           'Israel': 'Jerusalem', 
           'Nigeria': 'Abuja', 
           'Mexico':'Mexico City',
          'Japan': 'Tokyo',
          'Iran': 'Tehran'}

In [3]:
data1 = {"Sout America": ["Haiti","Argetina", "Brazil"],
        "Africa": ["Kenya", "Morocco", "Libya"]}
print(data1["Africa"])

['Kenya', 'Morocco', 'Libya']

**Dictionaries can also be defined using the *dict()* bult in function**

In [4]:
countries = dict(China = "Beijing", 
               Mali = "Bamako", 
               Israel = 'Jerusalem', 
               Nigeria = 'Abuja', 
               Mexico = 'Mexico City',
              Japan = 'Tokyo',
              Iran = 'Tehran')
countries

{'China': 'Beijing',
 'Mali': 'Bamako',
 'Israel': 'Jerusalem',
 'Nigeria': 'Abuja',
 'Mexico': 'Mexico City',
 'Japan': 'Tokyo',
 'Iran': 'Tehran'}

### Accessing dictionary values

In [79]:
countries['China']

'Beijing'

In [81]:
countries['Iran']

'Tehran'

#### Adding an entry to an existing dictionary

In [87]:
countries['Germany'] = 'Moscow'
countries

{'China': 'Beijing',
 'Israel': 'Tel Aviv',
 'Nigeria': 'Abuja',
 'Mexico': 'Mexico City',
 'Japan': 'Tokyo',
 'Iran': 'Tehran',
 'Germany': 'Moscow'}

#### Updating an entry

In [84]:
countries['Israel'] = 'Tel Aviv'
countries['Israel']

'Tel Aviv'

#### We can delete an entry

In [85]:
del countries['Mali']
countries

{'China': 'Beijing',
 'Israel': 'Tel Aviv',
 'Nigeria': 'Abuja',
 'Mexico': 'Mexico City',
 'Japan': 'Tokyo',
 'Iran': 'Tehran',
 'Germany': 'Moscow'}

### Manipulating our dictionary

#### We can get a value by specifying its key

In [88]:
countries.get('Iran')

'Tehran'

#### We can get the items in our dictionary

In [89]:
countries.items()

dict_items([('China', 'Beijing'), ('Israel', 'Tel Aviv'), ('Nigeria', 'Abuja'), ('Mexico', 'Mexico City'), ('Japan', 'Tokyo'), ('Iran', 'Tehran'), ('Germany', 'Moscow')])

#### We can get the leys and the values

In [90]:
countries.keys()

dict_keys(['China', 'Israel', 'Nigeria', 'Mexico', 'Japan', 'Iran', 'Germany'])

In [91]:
countries.values()

dict_values(['Beijing', 'Tel Aviv', 'Abuja', 'Mexico City', 'Tokyo', 'Tehran', 'Moscow'])

#### We can get rid of a key and return it's value

In [94]:
countries.pop('Germany')

'Moscow'

In [95]:
countries

{'China': 'Beijing',
 'Israel': 'Tel Aviv',
 'Nigeria': 'Abuja',
 'Mexico': 'Mexico City',
 'Japan': 'Tokyo',
 'Iran': 'Tehran'}

#### We can remove the last key value pair

In [97]:
countries.popitem()

('Iran', 'Tehran')

In [99]:
countries

{'China': 'Beijing',
 'Israel': 'Tel Aviv',
 'Nigeria': 'Abuja',
 'Mexico': 'Mexico City',
 'Japan': 'Tokyo'}

#### We can merge another dictionary to the existing one

In [100]:
another_countries  = {'Libya':'Tripoli',
                     'Netherland':'Amstredam',
                     'Ghana': 'Accra'}
countries.update(another_countries)

In [101]:
countries

{'China': 'Beijing',
 'Israel': 'Tel Aviv',
 'Nigeria': 'Abuja',
 'Mexico': 'Mexico City',
 'Japan': 'Tokyo',
 'Libya': 'Tripoli',
 'Netherland': 'Amstredam',
 'Ghana': 'Accra'}

## Control Structure in Python

What wehave been delaling with so far is a sequecial execution of instruction in which statements are always performed one after the next, in exactly the order specified. However, the world is much more complicated and our program will often need to skip over some statements, execute a series of statements repetitively, or choose between alternate sets of statements to execute.
**A control structure therefore directs the order of execution of the statements in a program in a version referred to as control flow**

* The **if** statement is the most commonnly used conditional statement in Python and it is used to perform this sort of decision-making. It allows for conditional execution of a statement or group of statements based on the value of an expression.

In [10]:
#if condition is met:
#    do A

In [11]:
standard_height = 6.0
applicant_height = 5.6
if applicant_height < standard_height:
    print("You can't apply for this job")

You can't apply for this job

In [12]:
x = 45
y = 40
if x > y:
    print(f"{x} is greater than {y}")

45 is greater than 40

The **else** and **elif** clauses

In [15]:
standard_height = 6.0
applicant_height = 6.1
if applicant_height < standard_height:
    print("You can't apply for this job")
else:
    print("You may proceed with your application")

You may proceed with your application

In [9]:
age = int(input("Enter your age "))
#name = input("Enter your name: ")
if age < 18:
    print("You are not qualified")
else:
    print("You may proceed with the application")

Enter your age 24
You may proceed with the application

In [17]:
name = "Abdullah"
if name == "Basit":
    print("welcome Basit")
elif name == "Surur":
    print("Welcome Surur")
elif name == "Abdullah":
    print("Hello Abdullah")
else:
    print("Your name is not known")

Hello Abdullah

In [13]:
course_of_choice = input("Which course do you want to study ").lower()

available_courses = ['physics', 'agriculture', 'law', 'medicine', 'accounting']

if course_of_choice in available_courses:
    print("Congratulations, the university offers your course of choice")
else:
    print("Your chosen course is not availble, please apply somewhere else")

Which course do you want to study LaW
Congratulations, the university offers your course of choice

We also have three useful logical operators that can be 		combined for multiple conditions. They are: **AND, OR, NOT**

### for loop

The for loop executes a 	block of code
	repeatedly until the condition in the for statement is no longer 	valid.

In [24]:
for i in range(5):
    print("ll be successful in this life in shaa Allah")

ll be successful in this life in shaa Allah
ll be successful in this life in shaa Allah
ll be successful in this life in shaa Allah
ll be successful in this life in shaa Allah
ll be successful in this life in shaa Allah

In [23]:
for course in available_courses:
    print(course)

physics
agriculture
law
medicine
accounting

In [14]:
number = [1,2,3,4,5]
number_square = []

for n in number:
    number_square.append(n**2)

In [15]:
print(number_square)

[1, 4, 9, 16, 25]

### break statement

In [26]:
for course in available_courses:
    if course == "law":
        break    #the iteration stops at law
    print(course)

physics
agriculture

### continue statement

In [27]:
for course in available_courses:
    if course == "medicine":
        continue   #medicine is skipped
    print(course)

physics
agriculture
law
accounting

### While loop

A while loop in python is used to iterate over a block of code or statements as long as the test expression is true

In [30]:
num =int(input('enter a number'))
while num >= 0:
       if num == 0:
          print('equal to zero')
       elif num > 0:
          print('greater than zero')
       else:
         print('enter a valid number')
       break

enter a number4
greater than zero

In [34]:
i = 1
while i <= 5 :
     print(i)
     #if i == 4:    #the loop breaks as soon as the iteration gets to 4
     #   break
     i = i+1

1
2
3
4

## Functions

Functions are simply pre-written codes that perform a certain task, they are primary unit of re-usable codes. For an analogy, think of the mathematical functions available in MS Excel. To add numbers, we can use the 	sum() function and type sum(A1:A5) instead of typing A1+A2+A3+A4+A5.
* Functions allow us to conveniently divide our codes into useful block in an ordered version. make it more readable, reusable and save us time.

In [35]:
def my_function():
    print("This is my first function")
    
my_function()

This is my first function

Functions may also receive arguments (variables passed from the caller to the function). For example:

In [16]:
def hello(name):
    print(f"hello {name}!")
    
hello('Adam')

hello Adam!

Functions may return a value to the caller, using the keyword- **return** . For example:

In [20]:
def simple_calc(a,b):
    return a+b

simple_calc(2,5)

7

In [21]:
simple_calc(-3, 8)

5

In [22]:
def rect_calc(length = 3, breadth = 2):  #initializing functions and keyword argument
    return length * breadth
rect_calc()

6

In [23]:
rect_calc(6,7)

42

In [24]:
rect_calc(4,6)     #the default values are over ridden

24

In [25]:
def week_day(num):
    if num == 0:
        print("today is Sunday")
    elif num == 1:
        print("today is Monday")
    elif num == 2:
        print("Today is Tuesday")
    elif num == 3:
        print("Today is Wednesday")
    elif num == 4:
        print("Today is Thursday")
    elif num== 5:
        print("Today is Friday")
    elif num == 6:
        print("Today is Saturday")
    else:
        print("You entered a wrong input")
        
week_day(3)

Today is Wednesday

In [26]:
week_day(4)

Today is Thursday

In [27]:
week_day(20)

You entered a wrong input

### Variable scope

variable scope is an important concept in functions. Variables declared inside a function (called local variable) is treated differently from those defined outside the function (called global variable). Things to remeber when dealing with variables at different levels:
1. Code in the global scope cannot use any local variables.
2. However, a local scope can access global variables.
3. Code in a function’s local scope cannot use variables in any other local scope.
4. You can use the same name for different variables if they are in different scopes. That is, there can be a local variable named spam and a global variable also named spam.


**Code in the global scope cannot use any local variables.**

In [47]:
def count_egg():
    egg = 250
    
    

print(egg)

NameError: name 'egg' is not defined

**However, a local scope can access global variables.**

In [28]:
PI = 3.142

def calc_area(radius):
    return PI * radius **2
calc_area(3)

28.278

**Code in a function’s local scope cannot use variables in any other local scope.**

In [29]:
def calc_circum():
    return 2 * PI * radius

calc_circum(2)

TypeError: calc_circum() takes 0 positional arguments but 1 was given

The **global** keyword is used if we need to modify a global variable within a function

In [53]:
DISTANCE = 42

def calc_speed(time):
    global DISTANCE
    DISTANCE = 40
    speed = DISTANCE/time
    return speed
calc_speed(20)

2.0

### Exception Handling

Right now, getting an error, or exception, in your Python program means the
entire program will crash. You don’t want this to happen in real-world programs.
Instead, you want the program to detect errors, handle them, and
then continue to run.

In [31]:
def divide(num1,num2):
    return num1/num2

divide(20,2)

10.0

In [32]:
divide(10,3)

3.3333333333333335

In [33]:
divide(3,0)

ZeroDivisionError: division by zero

The error occurs because we can not divide a number by zero. we can handle this in order to prevent our program fro crashing completely by using **try** and **except** keywords

In [65]:
def division(num1,num2):
    try:
        return num1/num2
    except(ZeroDivisionError):
        return ("can not divide by zero")
               
division(2,0)

'can not divide by zero'

In [66]:
division(3,2)

1.5

In [35]:
def division():
    
    while True:
        num1 = int(input("Enter a number "))
        num2 = int(input("Enter a second number "))
        
        try:
            print(num1/num2)
            break                    #the loop execution stops if the condition is satisfied
        except(ZeroDivisionError):
            print ("can not divide by zero")
division()

Enter a number 4
Enter a second number 0
can not divide by zero
Enter a number 5
Enter a second number 0
can not divide by zero
Enter a number 4
Enter a second number 0
can not divide by zero
Enter a number 2
Enter a second number 3
0.6666666666666666

### Python modules

a module is a file consisting of Python code. It can define functions, classes, and variables, and can also include runnable code. Any Python file can be referenced as a module. A file containing Python code, for example: test.py, is called a module, and its name would be test. To use the built-in codes in Python modules, we have to import them into our programs first. We do that by using the **import** keyword. Classes and Functions available in modules are then called using dot (.)

In [38]:
import math

math.sqrt(9)

3.0

In [39]:
math.pow(3,2)

9.0

In [40]:
math.exp(10)

22026.465794806718

In [41]:
math.fabs(-3)

3.0

In [42]:
math.factorial(5)

120

In [43]:
math.log(3.33)

1.2029723039923526

In [82]:
math.sin(45)

0.8509035245341184

In [47]:
import random

random.randint(2,10)

6

In [55]:

random.randint(2,10)

7

In [61]:
random.randrange(1,20,2)

19

In [63]:
hay = "make hay while the sun shines"
hay_to_list = list(hay.split(' '))
hay_to_list

['make', 'hay', 'while', 'the', 'sun', 'shines']

In [66]:
random.choice(hay_to_list)   # a random element is selected from the list

'shines'

In [67]:
random.shuffle(hay_to_list)   #the list is reorderd
hay_to_list

['make', 'shines', 'while', 'sun', 'the', 'hay']

### WORKING WITH FILES

In [73]:
f = open(r"C:\Users\ibrom\Documents\Ass 2.txt", 'r')

firstline = f.readline()
secondline = f.readline()
print(firstline)
print(secondline)
f.close()

NUMBERS:

1- what is the difference between / and % (e.g 5/2, 5%2).

In addition to using the readline() method above to read a text file, we
	can also use a for loop. In fact, the for loop is a more elegant and
	efficient way to read text files. The following program shows how this is
	done.

In [74]:
f = open ('myfile.txt', 'r')
for line in f:
    print (line, end = '')

In addition to using the readline() method above to read a text file, we can also use a for loop. In fact, the for loop is a more elegant and efficient way to read text files. The following program shows how this is done.

In [105]:
with open('myfile.txt', 'r') as f:
    for line in f:
        print(line, end = '')

In addition to using the readline() method above to read a text file, we can also use a for loop. In fact, the for loop is a more elegant and efficient way to read text files. The following program shows how this is done.

We can also read docx, pdf,excelcsv etc....

**Challenges**
1. Write a function that takes an integer days and converts it to seconds. E.g convert(2) ➞ 172800
2. Create a function that returns True when num1 is equal to num2; otherwise return False. E.g is_same_num(4, 8) ➞ False
3. Create a function that takes the number of wins, draws and losses and calculates the number of points a football team has obtained so far. A win receives 3 points, a draw 1 point and a loss 0 points. E.g football_points(3, 4, 2) ➞ 13
4. Create a function that takes a list and returns the first element. E.g get_first_value([-500, 0, 50]) ➞ -500
5. It is possible to name the days 0 thru 6 where day 0 is Sunday and day 6 is Saturday. If you go on a wonderful holiday leaving on day number 3 (a Wednesday) and you return home after 10 nights you would return home on a Saturday (day 6). Write a general version of the program which asks for the starting day number, and the length of your stay, and it will tell you the number of day of the week you will return on.

In [81]:
def point(win, draw, loss):
    
    #win, draw, loss = win*3, draw*1, loss *0
    win = win*3
    draw = draw*1
    loss = loss*0
    return win+draw+loss

point(3,4,2)

13

In [77]:
def convert_day(day):
    return day *24*3600
convert_day(2)

172800

In [79]:
def is_same_num(num1,num2):
    if num1 == num2:
        return True
    return False
is_same_num(2,4)

False

In [80]:
is_same_num(3,3)

True